<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      OTs Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let item of jobs"
    style="border-left: 5px solid"
    [ngStyle]="{ 'border-left-color': item.actual_status_colour }"
    color="medium"
  >
    <ion-card-content>
      <p>
        ID: #{{ item.jobs_id
        }}<span class="estado font-weight-bold text-right">{{
          item.actual_status_name
        }}</span>
      </p>
      <small>{{ item.job_updated_at | slice: 0:10 }}</small>
      <p class="font-weight-bold">{{ item.destination_entity_name }}</p>
      <p>{{ item.destination_address }}</p>
      <p class="font-weight-bold">{{ item.service_name }}</p>
      <p>{{ item.product_name }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
