page-selected-cliente {
  .estado {
    border-bottom: 1px solid;
    border-color: #007093;
    margin-top: 15px;
  }
  h5 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .underline {
    border-bottom: 1px solid;
    border-color: #007093;
  }

  .footer{
    bottom: 4px !important;
  }

  ion-icon {
    font-size: 35px;
  }
}
