<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/ots-pendientes"></ion-back-button> -->
    </ion-buttons>
    <ion-title>OnTrack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="dark">
    <h4 class="text-h4">{{ titulo }}</h4>
  </ion-text>
  <div id="encuesta">
    <div [innerHTML]="tipoInput"></div>
    <input type="text" class="form-control form-control-sm" />
    <ion-button color="secondary">Grabar</ion-button>
  </div>
</ion-content>
