<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- <ion-back-button defaultHref="/ots-pendientes"></ion-back-button> -->
      </ion-buttons>
      <ion-title>OnTrack</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-text color="secondary">
      <h4 class="text-secondary">Formularios</h4>
    </ion-text>
    <ion-button
      *ngFor="let item of surveys; index as i"
      color="secondary"
      expand="full"
      (click)="openSurvey(item)"
      >LLENAR {{ surveys[i].domain_name | uppercase }}</ion-button
    >
    <ion-button color="secondary">GRABAR</ion-button>
    <div [innerHTML]="result"></div>
  </ion-content>
  