<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ots-pendientes"></ion-back-button>
    </ion-buttons>
    <ion-title># {{ jobs_id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="text-center estado">
    <ion-text color="secondary">
      <h5 class="font-weight-bold mt-3 mb-3">{{ jobs.actual_status_name }}</h5>
    </ion-text>
  <div id="estatus">
    <ion-progress-bar value="{{porc}}" color="secondary" buffer="0.5"></ion-progress-bar>
    <ion-progress-bar value="{{porc}}" color="secondary" buffer="0.5"></ion-progress-bar>
  </div>
  </div>
  <h4 class="text-secondary underline mt-5" color="secondary"  style="font-size: 20px">Destino</h4>
  <div class="destino">
    <ion-text color="dark">
      <h6 class="font-weight-bold">{{ jobs.destination_name }}</h6>
    </ion-text>
    <ion-text color="dark">
      <h6>{{ jobs.destination_address }}</h6>
      <h6>{{ jobs.destination_entity_info }}</h6>
    </ion-text>
    <h4 class="text-secondary underline mt-5" color="secondary"  style="font-size: 20px">Producto</h4>
    <ion-text color="dark">
      <h6 class="font-weight-bold">{{ cliente.service_name }}</h6>
      <h6>{{ jobs.product_name }}</h6>
    </ion-text>
  </div>
  <div class="row footer">
    <div class="col text-center" [routerLink]="['/surveys']">
      <ion-icon name="close" color="secondary"></ion-icon>
    </div>
    <div class="col text-center" (click)="getCamera()">
      <ion-icon name="camera" color="secondary"></ion-icon>
    </div>
    <div class="col text-center" (click)="openOK()">
      <ion-icon name="checkmark" color="secondary"></ion-icon>
    </div>
  </div>
</ion-content>
