<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ots-pendientes"></ion-back-button>
    </ion-buttons>
    <ion-title># {{ jobs.jobs_id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="text-center estado">
    <ion-text color="secondary">
      <h5 class="font-weight-bold">
        {{ jobs.actual_status_name }}
      </h5>
    </ion-text>
    <!-- <div class="row" style="margin: 25px 0px">
      <div class="col" style="top:-9px">
        <div class="circle"></div>
      </div>
      <div class="col">
        <div style="border-top: 3px solid; border-top-color:#109eec"></div>
      </div>
      <div class="col" style="top:-9px">
        <div class="circle"></div>
      </div>
      <div class="col">
        <div style="border-top: 3px solid; border-top-color:#109eec"></div>
      </div>
      <div class="col" style="top:-9px">
        <div class="circle"></div>
      </div>
      <div class="col">
        <div style="border-top: 3px solid; border-top-color:#109eec"></div>
      </div>
      <div class="col" style="top:-9px">
        <div class="circle"></div>
      </div>
    </div> -->
  <div id="estatus">
    <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
  </div>
  </div>
  <h4 class="text-secondary underline" color="secondary">Destino</h4>
  <div class="destino">
    <ion-text color="dark">
      <h6 class="font-weight-bold">{{ jobs.destination_name }}</h6>
    </ion-text>
    <ion-text color="dark">
      <h6>{{ jobs.destination_address }}</h6>
      <h6>{{ jobs.destination_entity_info }}</h6>
    </ion-text>
    <h4 class="text-secondary underline" color="secondary">Producto</h4>
    <ion-text color="dark">
      <h6 class="font-weight-bold">{{ cliente.service_name }}</h6>
      <h6>{{ jobs.product_name }}</h6>
    </ion-text>
  </div>
  <div class="row footer">
    <div class="col text-center" [routerLink]="['/surveys']">
      <ion-icon name="close" color="secondary"></ion-icon>
    </div>
    <div class="col text-center" (click)="getCamera()">
      <ion-icon name="camera" color="secondary"></ion-icon>
    </div>
    <div class="col text-center" (click)="openOK()">
      <ion-icon name="checkmark" color="secondary"></ion-icon>
    </div>
  </div>
</ion-content>
