<ion-header>
  <ion-navbar color="primary">
    <ion-title>OnTrack</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div class="row"*ngFor="let encuesta of encuestas">
  <div class="col-12" *ngFor="let title of encuesta.groups">
    <h4>{{ title.name }}</h4> -->
  <!-- <div *ngFor="let attributes of title.attributes" >
      <p>{{ attributes.attribute_name }}</p>
      <p>{{ attributes.widget_type }}</p>
  </div> -->
  <div>
    <div>
      <h4>Información del cliente</h4>
      <p>Nombre o razón social del cliente</p>
      <p>Clasifiación del cliente</p>
      <input type="radio" />
      <h4>Disponibilidad MAXIS</h4>
      <p>Disponibilidad Bombones</p>
      <input type="checkbox" />
      <p>Fecha de NAcimiento bombones</p>
      <input type="text" />
      <p>Observaciones bombones</p>
      <textarea></textarea>
      <h4>Información del cliente</h4>
      <p>Nombre o razón social del cliente</p>
      <input type="text" />
    </div>
  </div>
</ion-content>
