// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  color: #666666 !important;
}

.text-primary {
  color: #109eec !important;
}

.text-secondary {
  color: #007093 !important;
}
.text-white {
  color: white !important;
}

.center {
  margin: 0 auto !important;
}

.box-img {
  height: 60px;
  width: 60px;
  border: 1px solid;
  border-color: #007093;
  display: inline-block;
}

.max-icono {
  font-size: 35px;
}

.footer {
  bottom: 4px !important;
  text-align: center;
}
