<ion-content padding>
  <div>
    <img
      src="../../assets/imgs/logotipo.jpg"
      class="pl-5 pr-5"
      style="margin-top:100px;margin-bottom: 80px"
    />
  </div>
  <div style="font-size: 16px">
    <p>
      Todo proceso es más fácil y sencillo si utilizan 'OnTrack'.
    </p>
    <p>
      Permite recuperar el control de tus operaciones logísticas a través de una
      SIMPLE, EFICIENTE y SIEMPRE disponible plataforma virtual.
    </p>
  </div>
  <p class="font-weight-bold" style="color: black !important; font-size: 16px">
    UUID: {{ uuid }}
  </p>
  <p>{{ respuesta }}</p>
  <ion-button
    style="height:50px;width: 100%"
    (click)="signin()"
    color="primary"
  >
    <!-- [routerLink]="['/ots']" -->
    INICIAR SESIÓN
  </ion-button>
</ion-content>
